# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local

# Data
data/
*.csv
*.parquet

# Spark
spark-warehouse/
metastore_db/
derby.log

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Airflow
airflow/logs/
airflow/airflow.db

# Docker
docker/volumes/

# Coverage
htmlcov/
.coverage
coverage.xml

# OS
.DS_Store
Thumbs.db
nul
